.header_list {
    display: flex;
    font-size: 15px;
    background-color: rgb(255, 242, 0);
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.library_name {
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}

.header_main_list {
    display: flex;
    gap: 28px;
    font-weight: 500;
    cursor: pointer;
}

.header_search_toggle {
    display: flex;
    gap: 8px;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
}

/*main*/
.mainCon {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.newBk,
.popularBk,
.recomendBk {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 20px;
}


/* 슬라이드 기능 공통 속성 */
.newBkSlider {
    display: flex;
    overflow: hidden;
    height: 400px;
    width: 1100px; /* 4개가 들어갈 수 있는 고정 크기 */
}

.newBkList,
.popularBkList,
.recomendBkList {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 18px;
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.3s ease;
    height: 340px;
    margin-top: 10px;
    margin: 10px 10px 0 10px;

    /* 슬라이드 기능 공통 속성 */
    min-width: 220px;      /* 고정 너비 */
    flex-shrink: 0;        /* 줄어들지 않도록 */
}

.imageSize {
    display: flex;
    justify-content: center;
}

.imageSize img {
    height: 300px;
}

.title {
    margin-top: 13px;
    font-weight: 500;
    text-align: center;
}

.newBkList:hover,
.popularBkList:hover,
.recomendBkList:hover {
    transform: translateY(-5px);
}

.prevBtn, .nextBtn {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color:  rgb(255, 242, 0);
    font-size: 15px;
    border: none;
}