/*movieMain*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.headerMain {
  display: flex;
  gap: 100px;
  font-size: 14px;
  font-weight: 500;
}
.search:hover {
  background-color: rgb(255, 74, 246);
  font-weight: 600;
}
.movie:hover {
  background-color: rgb(98, 255, 74);
  font-weight: 600;
}
.about:hover {
  background-color: rgb(74, 228, 255);
  font-weight: 600;
}

.my {
  display: flex;
  text-align: center;
}

.myPhoto {
  width: 30px;
  border-radius: 18px;
}

.line {
  height: 1px;
  background-color: black;
  margin-top: 4px;
}

header a {
  color: inherit;
  /*부모 폰트 컬러 참조*/
  text-decoration: none;
}

/*movieMain 끝*/


/*about*/
.container {
  margin: 0 500px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 60px;
}

.box1 {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.aboutImg {
  width: 250px;
  border-radius: 150px;
}

.myInfo {
  width: 800px;
  border: 2px solid rgb(216, 216, 216); 
  /* border-radius: 25px; */
}

.box2 {
  display: flex;
  justify-content: space-between;
  height: 254px;
  gap: 40px;
}
.box2_1,.box2_2,.box2_3 {
  width: 40%;
  border: 2px solid rgb(216, 216, 216); 
  /* border-radius: 25px; */
}





/*about 끝*/